//META{"name":"Compact Channels & Guilds","description":"Auto hides guilds and channels with sidebar to hover and expand for both. Please use the support server listed below if you need any help.","author":"Satoru","version":"1.2","website":"http://discord.gg/fjvwb95"}*//{}

@import url('https://satoru8.github.io/Addons/Compact/Combo/AutoHideGuildsChannels.css');

:root {

	--guildBarSize:  10px;
	--guildBar: #6b00c7;

	--channelBar: #00d0ff;
	--channelBarSize: 10px;

	--channelsSpeed: 400ms;
	--guildsSpeed: 400ms;
	
}